<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        <!-- Incluído para segurança -->
        {% csrf_token %}
<!-- as_p para ficar um abaixo do outro -->
        {{ form.as_p }}

        <button type="submit">Salvar</button>
        {% if transacao %}        
            <a href="{% url 'url_delete' transacao.id %}">Excluir</a>
        {% endif %}
    </form>
</body>
</html>