<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Seja Bem-Vindo</h1>
    <p>Agora são: {{ now }}</p>
    {% for transacao in transacoes %}
        {% if transacao == "t1" %}
            <li><b>{{ transacao }}</b></li>
        {% else %}
            <li>{{ transacao }}</li>
        {% endif %}
    {% endfor %}
</body>
</html>